#streamlit==1.31.0
#opencv-python-headless==4.9.0.80
#numpy==1.24.3
#Pillow==10.2.0
#torch==2.1.2
#torchvision==0.16.2
#facenet-pytorch==2.5.3
#plotly==5.18.0
#pandas==2.1.4
#ultralytics==8.1.0
#scikit-learn==1.3.2


streamlit==1.31.0
numpy
pandas
plotly
scikit-learn
Pillow
opencv-python-headless
